*{
    font-family: 'Roboto';
}
.header{
    display:flex;
    background-color: #1f2937;
    font-size: 18px;
    color:white;
    padding: 1% 5%;
}
.logo{
    font-size: 24px;
    color: #F9FAF8;
}
.topnav{
    display:flex;
    flex:1;
    align-items: center;
    justify-content: flex-end;
    gap:3%;
}
.TopBody{
    display: flex;
    gap:15%;
    background-color: #1f2937;
    color:white;
    padding: 5%;
}
.Topcontent{
    font-size: 20px; 
    display: flex;
    flex: auto;
    flex-direction: column;
    flex-wrap: wrap;
}
.Topcontent h1{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin-bottom: 0px;
}
.Topcontent p{
    font-size: 18px;
    color: #E5E7EB;
}
.Topcontent button{
    align-self: start;
    background-color: #3882F6;
    font-size: 18px;
    color:#F9FAF8;
    font-weight: bold;
    border-radius: 10px; 
    border:none; 
    padding: 2% 8%;
}
.box{
    display: flex;
    flex:auto;
    justify-content: center;
    width: 800px;
    padding: 5% 0 8% 0;
    background-color:gray;
    font-size: 18px;
    color: #E5E7EB;
}
.MidBody h2{
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight:bolder;
    color: #1F2937;
}
.BlueBoxes{
    display: flex;
    justify-content: center;
    gap: 5%;
    margin: 5% 0% 10% 0%;
    font-size: 18px;
    text-align: center;
    font-weight: lighter;
    color: #1f2937;
}
.BlueBox{
    width:180px;
    height:180px;
    border: 5px solid #3882F6;
    border-radius: 10px; 
    background-color: white;
}
.BoxNText{
    width:180px;
    height:180px;
}
.InspirationQuote{
    background-color:#E5E7EB;
    padding: 3%;
    margin-bottom: 5%;
}
.InspirationQuote p{
    display: flex;
    justify-content:center;
    flex: auto;
    font-size: 36px;
    font-weight:lighter;
    opacity: 55%;
    font-style: italic;
    color: #1F2937;

}
.InspirationQuote h3{
    display: flex;
    justify-content: flex-end;
    font-size: 36px;
    color: #1F2937;
    margin-top: 0px;

}
.CTABottomSection{
    background-color:#3882F6;
    border-radius: 10px;
    display: flex;
    gap:5%;
    padding: 3%;
    flex-wrap: wrap;
    justify-content: space-around;
}
.CTABottomSection h2{
    font-size: 36px;
    font-weight: bolder;
    color: #E5E7EB;
    margin-bottom: 0px;
}
.CTABottomSection p{
    font-size: 18px;
    color: #E5E7EB;
    margin-top: 0px;
}
.CTABottomSection button{
    display: flex;
    align-self: center;
    background-color: #3882F6;
    border: 2px solid #F9FAF8;
    color: #F9FAF8;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px; 
    padding: 1% 4%;
}
footer{
    display: flex;
    justify-content: center;
    background-color: #1f2937;
    color:#E5E7EB;
    font-size: 18px;
    margin-top: 5%;
}