.header{
    display:flex;
    background-color: #1f2937;
    font-family: 'Roboto';font-size: 20px;
    color:white;
    padding: 5px 15px 5px 15px;
}
.logo{
    font-size: 35px;
}
.topnav{
    display:flex;
    flex:1;
    align-items: center;
    justify-content: flex-end;
    gap:5%;

}